{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
    <div class="row">
        <div class="col">
            <br> 
            <h1 style = "font-family:Brush Script MT;"> Miembros de Mi Familia</h1>
            <br> 
            {% url 'agregar' as agregar_url %}
            {% bootstrap_button "Agregar" size="sm" button_class="btn-primary" button_type="link" href=agregar_url %}
            <br> 
            <br> 
        </div>
    </div>
    <dov class="row">
    <div class="col">
      {% if personas %}
      <table class="table">
          <thead>
            <th style="color:rgb(12, 83, 216)" scope="col">Identificador </th>
            <th style="color:rgb(12, 83, 216)"scope="col">Nombre</th>
            <th style="color:rgb(12, 83, 216)"scope="col">Apellido</th>
            <th style="color:rgb(12, 83, 216)"scope="col">Email</th>
            <th style="color:rgb(12, 83, 216)"scope="col">Fecha Nacimiento</th>
            <th style="color:rgb(12, 83, 216)"scope="col">Edad</th> 
            <th style="color:rgb(12, 83, 216)"scope="col">Acciones</th>
        </thead>

            {% for p in personas %}
            <!-- <li> <p style="color:rgb(70, 43, 226)">  Identificador: {{p.id}} </p> </li>
            <li> Nombre: {{p.nombre}} </li>
            <li> Apellido: {{p.apellido}} </li>
            <li> email: {{p.email}} </li>
         -->
         <tbody>
            <tr>
                <th scope="row">{{p.id}} </th>
                <td> {{p.nombre}} </td>
                <td> {{p.apellido}} </td>
                <td> {{p.email}} </td>
                <td> {{p.fecha}} </td>
                <td> {{p.edad}} </td>
                {% url 'borrar' identificador=p.id as borrar_url %}
                <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
            </tr>  
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        <p><p style="color:rgb(70, 43, 226)"> No tienes familiares cargados</p>
    {% endif %}
   </div>
 </div>
</div>
        
       